body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #333;
	background-color: #5c7fe3;
	margin: 0px;
}

p {
  font-size:.7em;
  padding:0 0 0 0;
  margin-right: 2em;
  word-spacing:0.04em;   
  letter-spacing:0.01em;
}

p2 {
  font-size:.7em;
  padding:-5px 0 0 0;
  margin-right: 2em;
  word-spacing:0.04em;   
  letter-spacing:0.01em;
  line-height:.8em;
}

h1 {
	font-size:18px;
	text-align:center;
	font-family:Georgia, "Times New Roman", Times, serif;
	letter-spacing:6px;
	font-weight:normal;
}

.h1top {
	font-size:22px;
	text-align:center;
	font-family:Georgia, "Times New Roman", Times, serif;
	letter-spacing:6px;
	font-weight:normal;
	margin: 14px 0 12px 0;
}

.welcome {
	font-size:24px;
	text-align:center;
	font-family:Georgia, "Times New Roman", Times, serif;
	letter-spacing:10px;
	font-weight:normal;
	margin: 14px 0 12px 0;
}

.welcome2 {
	font-size:24px;
	text-align:center;
	font-family:Georgia, "Times New Roman", Times, serif;
	letter-spacing:10px;
	font-weight:normal;
	padding-top:70px;
	margin: 14px 0 0 0;
}

#welcome_text {
	float:left;
	padding-left:150px;
	width:300px;
	height:222px;
	line-height:.9em;
	color: #666;
}

#welcome_img {
	margin: 10px 0 0 0;	
}

.h2 {
	font-size:.8em;
	text-indent: 1px;
	color: #4789e2;
}

.biospace {
	font-size:.8em;
	margin-top: 30px;
	text-indent: 1px;
	color: #4789e2;
}

.h3 {
	font-size:1.2em;
	font-style:italic;
	color: #7a47e2;
}

.h4 {
	font-size:.8em;
	text-indent: 1px;
	color: #7a47e2;
}

.available {
	font-size:.9em;
	text-indent: 1px;
	color: #7a47e2;
}

.sparkle {
	font-size:.9em;
	color: #7a47e2;
}

.presentations {
	font-size:.7em;
	color: #7a47e2;
}

.pagetext {
  font-size:1em;
  padding:0 0 0 0;
  /*margin-right: 2em;*/
  word-spacing:0.04em;   
  letter-spacing:0.01em;
  line-height:1.2em;
  color:#666;
}

.promo {
  font-size:.7em;
  padding:0 0 0 0;
  margin:0;
  word-spacing:0.04em;   
  letter-spacing:0.01em;
}

a { 
	color: #9587ff;
	text-decoration: none; 
}

a:hover { 
	text-decoration:underline; 
}

a img { 
	border: none;
}

.tagline {
	display: block;
	text-align: left;
}

.limiter {
  margin: 0 auto;
  width: 810px;
}

.whitebg {
	margin: 25px auto;
	padding:1px 0 10px 0;
    width: 900px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
    -webkit-box-shadow: 0 2px 25px #2e4178;
	-moz-box-shadow: 0 2px 25px #2e4178;
	-o-box-shadow: 0 2px 25px #2e4178;
	box-shadow: 0 2px 25px #2e4178;
	background:#FFF;
}

#content {
  position: relative;
	min-height: 335px;
	padding:10px 0 0 0;
}

#rgg_header {
  	position:relative;
	font-family: 'Milonga';
	font-size:40px;
	text-align:center;
	margin: 25px 0 0 0;
}

#rgg_header a {
	color: #5c5ce3;
	text-decoration: none; 
}

#sub_header {
  	position:relative;
	font-family: 'Milonga';
	font-size:22px;
	text-align:center;
	margin: 0 0 12px;
}

#sub_header a {
	color: #5c7fe3;
	text-decoration: none; 
}

/*#header {
	position:relative;
	text-align:center;
	margin: 25px 0 12px;
}*/

#drawing {
	position:relative;
	width:810px;
	margin:0;
	text-align:center;
}

#welcome {
	margin: 0 0 30px 0;	
}

#whatsnew {
	margin-top: 15px;
	padding-left:70px;
	width: 670px;
}

#bookwrapper {
	display: table;
	margin: 20px 0 0 0;
}

#indexbook {
	width: 400px;
	vertical-align: middle;
	float: none;
	padding-left: 20px;
	display: table-cell;
}

#book_cover_index {
	width: 250px;
	vertical-align: top;
	float: none;
	display: table-cell;
	font-size:.9em;
	line-height:1em;
	color: #666;
}

#book_title_index {
	font-family:Times, "Times New Roman", serif;
	font-weight: bold;
	font-size:1.2em;
	margin: 0 0 10px 0;
	padding-top: 25px;
	color: #666;
}

#book_info_index {
	line-height:.9em;
	color: #666;
}

#new_cover {
	width: 300px;
	float: left;
	margin: 21px 10px 15px 0;
	font-size:.9em;
	line-height:1em;
	color: #666;
	overflow: hidden;
}

#news {
	font-weight: bold;
	font-size:1.2em;
	margin: 0 0 10px 0;
	padding: 10px 0 0 0;
	color: #666;
}

.news {
	font-size:20px;
	/*text-align:center;*/
	font-family:Georgia, "Times New Roman", Times, serif;
	letter-spacing:3px;
	font-weight:normal;
	margin: 0 0 0 0;
	padding-left: 300px;
	color: #7a47e2;
}

.guides {
  font-size:.7em;
  font-weight:normal;
  padding:0;
  margin:0 0 20px 0;
  word-spacing:0.04em;   
  letter-spacing:0.01em;
}

.illustrator {
	font-size:14px;
}

#trailer {
	position:relative;
	width:810px;
	margin:0 0 25px 0;
	/*text-align:center;*/
}

#readinthepark {
	width: 670px;
	margin: 20px 0 0 0;
	font-size:14px;
	color: #666;
}

#temp_space {
	width:670px;
	padding: 20px 0 0 0;
}

/* featured */

#homepagetop {
	background: none;
	/*border-bottom: 1px solid #DDDDDD; (!was 1px for slider bottom line)*/
	float: left;
	width: 706px;
	height: 360px; (!was 500px)
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 52px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	}
#homepagetop #homeslider {
	float: left;
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
	}
#homepagetop #homeslider ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
#homepagetop h1 {
	color: #666666;
	font-size: 22px;
	font-family: 'Metrophobic', Georgia, "Times New Roman", Times;
	font-weight: normal;
	font-style: normal;
	text-indent: 1px;
	line-height: 34px;
	margin: 0px 0px 0px 0px;
	padding: 6px 0px 0px 0px;
	}
#homepagetop h1 a {
    color: #666666;
	text-decoration: none;
	}
#homepagetop h1 a:hover {
    color: #3399ff;
	text-decoration: none;
	}
#homepagetop p {
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	height: 42px;
	margin: 0px 0px 0px 0px;
	padding: 0px 2px 0px 2px;
	overflow: hidden;
	}

div.anythingSlider {
	width: 706px;
	height: 100%;
	margin: 0 auto 0;
	padding: 0px 0px 0px 0px;
	position: relative;
	list-style: none;
	overflow: hidden; /* needed for Opera and Safari */
	}
div.anythingSlider li iframe, div.anythingSlider li embed {
	float: left;
	display: block;
	width: 706px;
	max-height: 420px;
	margin: 0px;
	padding: 0px;
	position: relative;
	z-index: 8;
	}
div.anythingSlider li .feature_video, div.anythingSlider li .feature_img {
	float: left;
	display: block;
	margin: 0px;
	padding: 0px;
	position: relative;
	}
div.anythingSlider li .slideinfo {
	float: left;
	display: block;
	margin: 0px;
	padding: 0px;
	}
div.anythingSlider .thumbNav a.cur, div.anythingSlider .thumbNav a {
	background: #EEEEEE;
	color: #333333;
	}
div.anythingSlider .anythingWindow {
	float: left;
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	z-index: 1;
	}
ul.anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	}
ul.anythingBase li.panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
	}

/* Navigation Arrows */
div.anythingSlider .arrow.back {
	float: left;
	display: block;
	position: absolute;
	background: transparent url(images/prev_btn.png) no-repeat;
	width: 20px;
	height: 40px;
	margin: 190px 0px 0px 0px;
	clear: both;
	z-index: 9;
	overflow: hidden;
	}
div.anythingSlider .arrow.forward {
	float: right;
	display: block;
	position: absolute;
	background: transparent url(images/next_btn.png) no-repeat;
	width: 20px;
	height: 40px;
	margin: 190px 0px 0px 0px;
	clear: both;
	z-index: 9;
	overflow: hidden;
	}
div.anythingSlider .arrow a {
	display: block;
	height: 40px;
	width: 20px;
	margin: -50px 0px 0px 0px;
	text-align: center;
	outline: 0;
	text-indent: -9999px;
	}
div.anythingSlider .forward { 
	right: 0; 
	}
div.anythingSlider .back {
	left: 0; 
	}
div.anythingSlider .back:hover, div.anythingSlider .forward:hover {
	background-position: -20px 0;
	}
div.anythingSlider .forward.disabled { 
	display: none; 
	}
div.anythingSlider .back.disabled { 
	display: none; 
	}

/* Navigation Links */
div.anythingSlider .anythingControls { 
	display: none !important; 
	}

/* Autoplay Start/Stop button */
div.anythingSlider .start-stop {
	display: none !important;
	}

#buyhome {
	width: 300px;
	float:left;
	margin: -10px 0 0 20px;
}

#contact {
	clear:both;
	font-size:.8em;
	text-align:center;
	margin: 51px 0 15px;
}

#contact a {
	color:#666699;
}

#rhypibomo {
	position:absolute;
}

#site_design {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#999;
	text-align:center;
	margin: 30px 0 15px;
}

#site_design a {
	color:#999;
	font-weight:bold;
}

#site_design a:hover {
	color:#999;
	font-weight:bold;
	text-decoration:none;
}


#nav {
	height:30px;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	list-style:none;
	font-weight:bold;
	position:relative;
	z-index:5;
	text-align: center;
	border-bottom:1px #DDD solid;
}

#nav a {
	color:#666699;
}

#nav a.topmenu {
	text-decoration:none;
	cursor:pointer;
}

#nav li {
	display:inline-block;
	margin: 0 17px;
	zoom: 1;
	*display: inline;
}

#nav li.books {
	padding:0 2px;
}

#nav li.books:hover {
	background:#f7cd2b;
	border-bottom:13px #f7cd2b solid;
	-webkit-transition: border-bottom .4s ease-in-out;
    -moz-transition: border-bottom .4s ease-in-out;
    -o-transition: border-bottom .4s ease-in-out;
    transition: border-bottom .4s ease-in-out;
}

#nav li.books_tab {
	padding:0 2px;
	background:#f7cd2b;
	border-bottom:13px #f7cd2b solid;
}

#nav li.books_tab a {
	color:#FFF;
}

#nav li.books:hover a {
	color:#FFF;
}

#nav li.bio {
	padding:0 2px;
}

#nav li.bio:hover { 
	background:#b4ca50;
    border-bottom:13px #b4ca50 solid;
	-webkit-transition: border-bottom .4s ease-in-out;
    -moz-transition: border-bottom .4s ease-in-out;
    -o-transition: border-bottom .4s ease-in-out;
    transition: border-bottom .4s ease-in-out;
}

#nav li.bio_tab {
	padding:0 2px;
	background:#b4ca50;
	border-bottom:13px #b4ca50 solid;
}

#nav li.bio_tab a {
	color:#FFF;
}

#nav li.visits {
	padding:0 2px;
}

#nav li.visits:hover { 
	background:#4789e2;
    border-bottom:13px #4789e2 solid;
	-webkit-transition: border-bottom .4s ease-in-out;
    -moz-transition: border-bottom .4s ease-in-out;
    -o-transition: border-bottom .4s ease-in-out;
    transition: border-bottom .4s ease-in-out;
}

#nav li.visits_tab {
	padding:0 2px;
	background:#4789e2;
	border-bottom:13px #4789e2 solid;
}

#nav li.visits_tab a {
	color:#FFF;
}

#nav li.visits:hover a {
	color:#FFF;
}

#nav li.writers {
	padding:0 2px;
}

#nav li.writers:hover {
	background:#9587ff; 
    border-bottom:13px #9587ff solid;
	-webkit-transition: border-bottom .4s ease-in-out;
    -moz-transition: border-bottom .4s ease-in-out;
    -o-transition: border-bottom .4s ease-in-out;
    transition: border-bottom .4s ease-in-out;
}

#nav li.writers_tab {
	padding:0 2px;
	background:#9587ff;
	border-bottom:13px #9587ff solid;
}

#nav li.writers_tab a {
	color:#FFF;
}

#nav li.contact {
	padding:0 2px;
}

#nav li.contact:hover {
	background:#ff9421; 
    border-bottom:13px #ff9421 solid;
	-webkit-transition: border-bottom .4s ease-in-out;
    -moz-transition: border-bottom .4s ease-in-out;
    -o-transition: border-bottom .4s ease-in-out;
    transition: border-bottom .4s ease-in-out;
}

#nav li.contact_tab {
	padding:0 2px;
	background:#ff9421;
	border-bottom:13px #ff9421 solid;
}

#nav li.contact_tab a {
	color:#FFF;
}

#nav li.submenu {
	float:none;
	display:block;
	margin: 0;
}

#nav li.submenu a {
	color:#666699 !important;;
}

#nav a { 
	display:inline-block;
	margin: 0;
	zoom: 1;
	*display: inline;
}

#nav a:hover { 
	color:#FFF;
}

/* drop down nav */

#nav ul {
    background:#FFF;
    background:rgba(255,255,255,0);
    list-style:none;
    position:absolute;
    left:-9999px;
	opacity: 0;
	-webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}

#nav ul li {
	text-align:left;
    padding-top:1px;
    float:none;
}

#nav ul a {
    white-space:nowrap;
}

#nav li:hover ul.books {
	display: block;
    position: absolute; 
    left:154px;
	opacity: 1;
}

#nav li:hover ul.visits {
	display: block;
    position: absolute; 
    left:310px;
	opacity: 1;
}

#nav li:hover a{
    text-decoration:none;
}

#nav li:hover ul a{
	width:140px;
	padding-left:2px;
	background:#FFF;
	border:1px #DDD solid;
	font-size:.8em;
    text-decoration:none;
	-webkit-transition: background .4s ease-in-out, color .4s ease-in-out;
    -moz-transition: background .4s ease-in-out, color .4s ease-in-out;
    -o-transition: background .4s ease-in-out, color .4s ease-in-out;
    transition: background .4s ease-in-out, color .4s ease-in-out;
}

#nav li:hover ul.books li a:hover {
	text-decoration:none;
	color:#FFF !important;;
	background:#f7cd2b;
}

#nav li:hover ul.visits li a:hover {
	text-decoration:none;
	color:#FFF !important;;
	background:#4789e2;
}

/* books */

#books {
	margin-top: 10px;
	padding-left:52px;
	width: 706px;
}

#book_cover {
	width: 300px;
	float: left;
	margin: 0 10px 30px 0;
	font-size:.9em;
	line-height:1em;
	color: #666;
	overflow: hidden;
}

#book_title {
	font-family:Times, "Times New Roman", serif;
	font-weight: bold;
	font-size:1.2em;
	margin: 0 0 10px 0;
	color: #666;
}

#book_info {
	padding-left:310px;
	line-height:.9em;
	color: #666;
}

#book_info a {
	color: #9587ff;
}

#book_isbn {
	width:300px;
	margin: 0;
	overflow: hidden;
}

blockquote.excerpt {
	width:350px;
	font-style:italic;
	margin-left:20px;
}

blockquote.standtall {
	width:340px;
	margin-left:20px;
}

.awards {
  font-size:.7em;
  color: #4789e2;
  padding:0 0 0 0;
  margin-right: 2em;
  word-spacing:0.04em;   
  letter-spacing:0.01em;
}

.starred {
  font-size:1em;
  color: #4789e2;
  padding:0;
  margin:0;
  word-spacing:0.04em;   
  letter-spacing:0.01em;
}

.guides_books {
    font-size: 0.8em;
    letter-spacing: 0.01em;
    margin: 0;
    padding: 0;
    word-spacing: 0.04em;
}

/*.outofprint {
	border-color:#666;
    border-style: solid;
	border-width:1px;
	padding: 0px 5px;
	display: inline-block;
	font-size:.94em;
}*/

#forthcoming {
	width:706px;
	padding-bottom:5px;
	margin:5px 0 12px 52px;
	font-weight:bold;
	font-style:italic;
	text-align:center;
	background-color:#edf1fa;
	border:1px #8eabf5 solid;
}

#forthcoming a {
	width:706px;
	display:block;
	margin: 0;
	color:#666699;
	font-size:.8em;
	font-weight:normal;
	text-align:center;
	-webkit-transition: background .1s ease-in-out;
    -moz-transition: background .1s ease-in-out;
    -o-transition: background .1s ease-in-out;
    transition: background .1s ease-in-out;
}

#forthcoming a:hover {
	background: #dbe2f4;
}

.forth {
	font-size:.8em;
	text-align:center;
	color: #4789e2;
}

#reillus_text {
	text-align:center;	
	margin:50px 0 15px;
}

.reillus {
	font-size:18px;
	font-family:Georgia, "Times New Roman", Times, serif;
	letter-spacing:2px;
	font-weight:normal;
	margin:0;
	color: #666;
}

#reillus {
	padding-left:70px;
	width: 670px;
}

#reillus_cover {
	width: 216px;
	float: left;
	margin: 0 11px 30px 0;
	font-size:.9em;
	line-height:1em;
	color: #666;
	overflow: hidden;
}

#reillus_coverend {
	width: 216px;
	float: left;
	margin: 0 0 30px 0;
	font-size:.9em;
	line-height:1em;
	color: #666;
	overflow: hidden;
}

.reillus_date {
	width: 216px;
	padding-bottom:20px;
	margin: 10px 0 0 0;
	text-align:center;
	font-weight:bold;
	font-size:.8em;
	line-height:1em;
	color: #666;
}

/*#awards {
	width:360px;
	margin:0;
	padding-left:5px;
	background-color:#ffffde;
}*/

#buynow {
	float:left;
	width: 79px;
	height:25px;
	margin: 1px 10px 0 0;
	font-size:.9em;
	overflow: hidden;
}

#outofprint {
	float:left;
	width: 200px;
	margin: 0 10px 0 0;
	color:#666;
	font-size:.6em;
	overflow: hidden;
}

.buy {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E6E6E6));
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #B3B3B3;
    border-image: none;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    padding: 2px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
	zoom: 1;
	*display: inline;
}

.buy:hover {
    background-color: #63C;
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
	-webkit-transition: background-position 0.1s linear 0s;
}

.buy.active, .buy:active {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}

.buy:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
}

.buy-info {
    background-color: #63C;
	background: -webkit-gradient(linear, left top, left bottom, from(#99C), to(#66C));
    background-image: -moz-linear-gradient(center top , #99C, #66C);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.buy-info:hover, .buy-info:active, .buy-info.active, .buy-info.disabled, .buy-info[disabled] {
    background-color: #66C;
}

.buy-info, .buy-info:hover {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.buy-info.active {
    color: rgba(255, 255, 255, 0.75);
}

.buy {
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

/* buy now modal window */
.overlay-container {
		display: none;
		content: " ";
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
	
	.window-container {
		display: block;
		background: #fcfcfc;
		margin: 8em auto;
		width: 500px;
		padding: 10px 20px 20px;
		text-align: left;
		z-index: 3;
		border-radius: 3px;
		box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
		-webkit-transition: 0.4s ease-out;
		-moz-transition: 0.4s ease-out;
		-ms-transition: 0.4s ease-out;
		-o-transition: 0.4s ease-out;
		transition: 0.4s ease-out;
		opacity: 0;
	}
	
	.zoomin {
		-webkit-transform:  scale(1.2);
		-moz-transform:  scale(1.2);
		-ms-transform:  scale(1.2);
		transform:  scale(1.2);
	}
	
	.zoomout {
		-webkit-transform:  scale(0.7);
		-moz-transform:  scale(0.7);
		-ms-transform:  scale(0.7);
		transform:  scale(0.7);
	}
	
	.window-container-visible {
		-webkit-transform:  scale(1);
		-moz-transform:  scale(1);
		-ms-transform:  scale(1);
		transform:  scale(1);
		opacity: 1;
	}
		
		.close {
			margin: 0 auto;
			width: 100%;
			text-align: right;
			color: #444;
			font-size: .8em;
			cursor: pointer;
		}
			
#close {
	margin: 0px auto -10px;
	width: 100%;
	text-align: right;
	font-size: .8em;
}
			
h5 {
	font-family:Times, "Times New Roman", serif;
	font-weight: bold;
	font-size:1.4em;
	line-height:1em;
	text-align:center;
	color: #666;
}
			
#childrensbookstore {
	width: 176px;
	height: 32px;
	margin: 25px auto 10px;
}

#childrensbookstore1 {
	float: left;
	width: 176px;
	height: 32px;
	margin: 0 10px 10px 162px;
	overflow:hidden;
}

#childrensbookstore2 {
	float: left;
	width: 176px;
	height: 32px;
	margin: 0 10px 10px 162px;
	overflow:hidden;
}

#hardcover {
	padding: 7px 0 0 0;
	height: 32px;
	overflow:hidden;
}

#paperback {
	padding: 10px 0 0 0;
	overflow:hidden;
}

#unavailable	{
	text-align: center;
	width: 176px;
	height: 29px;
    margin: 10px auto 25px;
}
	
#amazon	{
	width: 176px;
	height: 28px;
    margin: 10px auto 25px;
}

#childcraft	{
	width: 176px;
	height: 29px;
    margin: 10px auto 25px;
}

#readingbirdbooks {
	width: 176px;
	height: 32px;
    margin: 10px auto 25px;
}
/* end buy now modal window */

#mi_reads {
	float: right;
	margin: -10px -20px 0 10px;
	overflow: hidden;
}

.books_nav {
  margin:5px 0 0 0;
  padding:0 0 5px 0;
	height:60px;
	position:relative;
	margin-left: -75px; /*temporary fix*/
}

.books_nav2 {
  margin:0 0 0 0;
  padding:0 0 5px 0;
	height:60px;
	position:relative;
	margin-left: -75px; /*temporary fix*/
}

.books_nav li {
	border: 1px solid #666;
  list-style: none;
  margin:0;
	position:absolute;
}

.books_nav2 li {
	border: 1px solid #666;
  list-style: none;
  margin:0;
	position:absolute;
}

.books_nav li a {
  display:block;
	height:60px;
}

.books_nav2 li a {
  display:block;
	height:60px;
}

.b1 {left:127px; width:72px; background:url('../img/books_navhover.png') -5px -5px no-repeat;}
.b2 {left:204px; width:58px; background:url('../img/books_navhover.png') -82px -5px no-repeat;}
.b3 {left:267px; width:63px; background:url('../img/books_navhover.png') -145px -5px no-repeat;}
.b4 {left:335px; width:46px; background:url('../img/books_navhover.png') -213px -5px no-repeat;}
.b5 {left:386px; width:46px; background:url('../img/books_navhover.png') -264px -5px no-repeat;}
.b6 {left:437px; width:49px; background:url('../img/books_navhover.png') -315px -5px no-repeat;}
.b7 {left:491px; width:60px; background:url('../img/books_navhover.png') -369px -5px no-repeat;}
.b8 {left:556px; width:54px; background:url('../img/books_navhover.png') -434px -5px no-repeat;}
.b9 {left:615px; width:55px; background:url('../img/books_navhover.png') -493px -5px no-repeat;}
.b10 {left:675px; width:57px; background:url('../img/books_navhover.png') -553px -5px no-repeat;}
.b11 {left:737px; width:46px; background:url('../img/books_navhover.png') -615px -5px no-repeat;}
.b12 {left:788px; width:45px; background:url('../img/books_navhover.png') -666px -5px no-repeat;}
.b13 {left:127px; width:50px; background:url('../img/books_navhover.png') -5px -70px no-repeat;}
.b14 {left:182px; width:76px; background:url('../img/books_navhover.png') -60px -70px no-repeat;}
.b15 {left:263px; width:59px; background:url('../img/books_navhover.png') -141px -70px no-repeat;}
.b16 {left:327px; width:47px; background:url('../img/books_navhover.png') -205px -70px no-repeat;}
.b17 {left:379px; width:76px; background:url('../img/books_navhover.png') -257px -70px no-repeat;}
.b18 {left:460px; width:46px; background:url('../img/books_navhover.png') -338px -70px no-repeat;}
.b19 {left:511px; width:46px; background:url('../img/books_navhover.png') -389px -70px no-repeat;}
.b20 {left:562px; width:64px; background:url('../img/books_navhover.png') -440px -70px no-repeat;}
.b21 {left:631px; width:64px; background:url('../img/books_navhover.png') -509px -70px no-repeat;}
.b22 {left:700px; width:64px; background:url('../img/books_navhover.png') -578px -70px no-repeat;}
.b23 {left:769px; width:64px; background:url('../img/books_navhover.png') -647px -70px no-repeat;}
.b1 a:hover {left:127px; width:72px; background:url('../img/books_navhover.png') -5px -135px no-repeat;}
.b2 a:hover {left:204px; width:58px; background:url('../img/books_navhover.png') -82px -135px no-repeat;}
.b3 a:hover {left:267px; width:63px; background:url('../img/books_navhover.png') -145px -135px no-repeat;}
.b4 a:hover {left:335px; width:46px; background:url('../img/books_navhover.png') -213px -135px no-repeat;}
.b5 a:hover {left:386px; width:46px; background:url('../img/books_navhover.png') -264px -135px no-repeat;}
.b6 a:hover {left:437px; width:49px; background:url('../img/books_navhover.png') -315px -135px no-repeat;}
.b7 a:hover {left:491px; width:60px; background:url('../img/books_navhover.png') -369px -135px no-repeat;}
.b8 a:hover {left:556px; width:54px; background:url('../img/books_navhover.png') -434px -135px no-repeat;}
.b9 a:hover {left:615px; width:55px; background:url('../img/books_navhover.png') -493px -135px no-repeat;}
.b10 a:hover {left:675px; width:57px; background:url('../img/books_navhover.png') -553px -135px no-repeat;}
.b11 a:hover {left:737px; width:46px; background:url('../img/books_navhover.png') -615px -135px no-repeat;}
.b12 a:hover {left:788px; width:45px; background:url('../img/books_navhover.png') -666px -135px no-repeat;}
.b13 a:hover {left:127px; width:50px; background:url('../img/books_navhover.png') -5px -200px no-repeat;}
.b14 a:hover {left:182px; width:76px; background:url('../img/books_navhover.png') -60px -200px no-repeat;}
.b15 a:hover {left:263px; width:59px; background:url('../img/books_navhover.png') -141px -200px no-repeat;}
.b16 a:hover {left:327px; width:47px; background:url('../img/books_navhover.png') -205px -200px no-repeat;}
.b17 a:hover {left:379px; width:76px; background:url('../img/books_navhover.png') -257px -200px no-repeat;}
.b18 a:hover {left:460px; width:46px; background:url('../img/books_navhover.png') -338px -200px no-repeat;}
.b19 a:hover {left:511px; width:46px; background:url('../img/books_navhover.png') -389px -200px no-repeat;}
.b20 a:hover {left:562px; width:64px; background:url('../img/books_navhover.png') -440px -200px no-repeat;}
.b21 a:hover {left:631px; width:64px; background:url('../img/books_navhover.png') -509px -200px no-repeat;}
.b22 a:hover {left:700px; width:64px; background:url('../img/books_navhover.png') -578px -200px no-repeat;}
.b23 a:hover {left:769px; width:64px; background:url('../img/books_navhover.png') -647px -200px no-repeat;}

.clearer {
	clear: both;
	font-size: 1px;
}

/* bio */

#bio {
	width: 810px;
}

#bio_intro {
	margin:0 0 12px 0;
}

#bio_info {
	margin:0;
}

#bio_awards {
	height:194px;
	width:475px;
	margin:-7px 0 0 173px;
	padding-left:130px;
	background-color:#edf1fa;
	border:1px #8eabf5 solid;	
}

#bio_img {
	margin: 0 0 -5px 0;
	overflow: hidden;
}

#bio_img_rhonda {
	float: left;
	margin: 7px 10px 0 0;
	overflow: hidden;
}

#bio_img_r {
	float: right;
	margin: 0 0 0 10px;
	overflow: hidden;
}

#bio_img_l {
	float: left;
	margin: 0 10px 0 0;
	overflow: hidden;
}

#bio_img_l2 {
	float: left;
	margin: 5px 10px 0 0;
	overflow: hidden;
}

#bio_img_l3 {
	float: left;
	margin: 0 10px 0 118px;
	overflow: hidden;
}

#bio_img_redfolder {
	float: right;
	margin: 10px 60px 0 10px;
	overflow: hidden;
}

#bio_img_center {
	text-align:center;
	margin:0;
	overflow: hidden;
}

#bio_img_ideas {
	float: left;
	margin: 10px 15px 20px 0;
	overflow: hidden;
}

#bio_img_ideas2 {
	float: left;
	margin: 10px 0 20px 0;
	overflow: hidden;
}

#travel {
	height: 265px;
	margin: 10px 0 10px 0;
}

#bio_img_travel {
	float: left;
	margin: 10px 15px 5px 0;
	overflow: hidden;
}

#bio_img_travel2 {
	float: left;
	margin: 10px 0 10px 0;
	overflow: hidden;
}

#hobbies {
	margin: 0 1px;
}

#bio_img_hobbies {
	float: left;
	margin: 10px 15px 5px 0;
	overflow: hidden;
}

#bio_img_hobbies2 {
	float: left;
	margin: 10px 0 18px 0;
	overflow: hidden;
}

#gary {
	height: 280px;
	margin: 0;
}

#family {
	width: 810px;
	margin: 0;
	line-height:1em;
}

#family #matt {
	float:left;
	width: 400px;
	margin: 10px 0 10px 0;
	/*background-color:#d9efff;*/
	overflow: hidden;
}

#family #aaron {
	float:left;
	width: 400px;
	margin: 10px 0 10px 10px;
	/*background-color:#d9efff;*/
	overflow: hidden;
}

#family #lianna {
	float:left;
	width: 400px;
	margin: 0 0 25px 0;
	/*background-color:#d9efff;*/
	overflow: hidden;
}

#family #brad {
	float:left;
	width: 400px;
	margin: 0 0 25px 10px;
	/*background-color:#d9efff;*/
	overflow: hidden;
}

/* visits */

#visits {
	width: 810px;
}

#visitlink {
	/*width:335px;*/
	width:170px;
	float:left;
	font-size:1.1em;
	/*margin: 0 0 35px 0;*/
	margin: 0 0 35px 210px;
	padding-top:85px;
	text-align:center;	
}

#otherlink {
	/*width:290px;*/
	width:170px;
	float:left;
	font-size:1.1em;
	/*margin: 0 45px 35px 0;*/
	margin: 0 210px 116px 0;
	padding-top:85px;
	text-align:center;
}

#portrait {
	width:200px;
	float:left;
	margin: 0;
}

#intro {
	margin: 0 0 0 235px;
}

#visitinfo {
	padding-left:316px;
	margin:0;
}

#otherinfo {
	margin:0;
}

#visit_pics {
	width: 306px;
	float: left;
	margin: 0 10px 0 0;
	overflow: hidden;
}

#visit_img {
	text-align:center;
	margin: 0;
	overflow: hidden;
}

#visit_img_r {
	float: right;
	margin: 0 -20px 0 10px;
	overflow: hidden;
}

#visit_img_l {
	float: left;
	margin: 5px 15px 0 5px;
	/*margin: 18px 10px 2px 10px;*/
	overflow: hidden;
}

#visit_img_mann {
	float: left;
	margin: 15px 69px 15px 71px;
	overflow: hidden;
}

#visit_img_puppets {
	float: left;
	margin: 15px 71px 15px 0;
	overflow: hidden;
}

#visit_img_workshop {
	float: left;
	margin: 12px 15px 0px 5px;
	/*margin: 18px 10px 2px 10px;*/
	overflow: hidden;
}

#visit_img_other {
	float: left;
	margin: 5px 45px 0 5px;
	overflow: hidden;
}

#visit_img_news {
	float: left;
	margin: -7px 10px 0 -35px;
	overflow: hidden;
}

#visit_img_gr {
	float: left;
	margin: -35px 45px 0 5px;
	overflow: hidden;
}

#sidepics {
	float: left;
	width: 245px;
	margin: 0;
	overflow: hidden;
}

#box1 {
	height:263px;
	padding:10px;
	line-height:1em;
	background-color:#edf1fa;
	border:1px #8eabf5 solid;	
}

#box2 {
	padding:10px 10px 15px 40px;
	line-height:1.2em;
	background-color:#edf1fa;
	border:1px #8eabf5 solid;	
}

#speaking {
  font-size:.7em;
  padding:0 0 0 140px;
  margin: 0 0 45px 0;
  word-spacing:0.04em;   
  letter-spacing:0.01em;
}

#testimonials {
	background-color:#fffedc;
	border:1px #FFF solid;	
}

#other_news {
	padding:10px 15px 15px 40px;
	line-height:1.2em;
	background-color:#edf1fa;
	border:1px #8eabf5 solid;	
}

#present {
	margin:-10px 0 0 0;
}

#present li {
  font-size:.7em;
  padding:-5px 0 0 0;
  margin-right: 2em;
  word-spacing:0.04em;   
  letter-spacing:0.01em;
}

.pre {
  font-size:.8em;
  padding:0;
  margin-right: 2em;
  margin-left:10px;
  font-weight:normal;
  word-spacing:0.04em;   
  letter-spacing:0.01em;
  line-height:1.2em;
  color:#666;
}

.caption {
	margin:0;
	font-size: .5em;
	line-height:1.5em;
	font-style:italic;
	text-align:center;
}

.caption_other {
	margin:0 0 10px 0;
	font-size: .5em;
	line-height:1.5em;
	font-style:italic;
	text-align:center;
}

.caption_other2 {
	margin:0 0 35px 0;
	font-size: .5em;
	line-height:1.5em;
	font-style:italic;
	text-align:center;
}

#visits .h2 {
	font-size: .9em;
	font-weight:bold;	
}

#visits .hgreen {
	font-size: .9em;
	font-weight:bold;
	color:#3C6;	
}

.underline {
	text-decoration: underline;
}

.indent {
	margin-left:40px;
}

/* for writers */

#writers {
	width: 810px;
}

#dummy {
	float: right;
	margin: 5px 60px 0 10px;
	overflow: hidden;
}

#goodbooks {
	line-height:1.7em;	
}

/* contact */

#contact_info {
	width: 810px;
}