---
layout: default
---
{% assign base = site.baseurl %}

<div id="homepagetop">
  <div id="homeslider">
    <ul id="slider1">
      {% for post in site.posts %}
        {% if post.featured == true %}
          <li>
            <a class="feature_img" href="{{base}}/books/{{post.short}}/" rel="bookmark"><img width="706" height="360" src="{{base}}/img/featured_{{post.short}}.jpg" class="attachment-home-feature wp-post-image" alt="{{post.short}}" /></a>
            <div class="slideinfo">
              <h1><a href="{{base}}/books/{{post.short}}/"></a></h1>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<!--
<div id="trailer">
<div id="welcome"><span class="pagetext"><p class="welcome2">Welcome!</p></span></div>

<div id="whatsnew">
 {% for post in site.posts %}
   {% if post.class == "default" %}
    <div id="bookwrapper">
    <div id="book_cover_index"><a href="{{base}}/books/{{post.short}}/" TITLE="{{post.title}}"><img src="{{base}}/img/cover_{{post.short}}.jpg" alt="{{post.title}}" width="250" /></a></div>
    
    <div id="indexbook">
     <div id="book_title_index">{{post.title}}</div>
     <div id="book_info_index"><p class="description">
       {% if post.illustrator == false %} {% else %} Illustrated by {{post.illustrator}}<br /> {% endif %}
         {{post.content}}
     </div>
    </div>
    </div>
   {% endif %}
 {% endfor %}
</div></div>
-->