---
layout: default
---
{% assign base = site.baseurl %}
<ul class="books_nav">
  <li class="b1"><a href="{{base}}/books/pirates"></a></li>
  <li class="b2"><a href="{{base}}/books/teacher"></a></li>
  <li class="b3"><a href="{{base}}/books/shape"></a></li>
  <li class="b4"><a href="{{base}}/books/santa"></a></li>
  <li class="b5"><a href="{{base}}/books/barnyard"></a></li>
  <li class="b6"><a href="{{base}}/books/stable"></a></li>
  <li class="b7"><a href="{{base}}/books/grandma"></a></li>
  <li class="b8"><a href="{{base}}/books/mommy"></a></li>
  <li class="b9"><a href="{{base}}/books/daddy"></a></li>
  <li class="b10"><a href="{{base}}/books/firebears"></a></li>
  <li class="b11"><a href="{{base}}/books/polar"></a></li>
  <li class="b12"><a href="{{base}}/books/standtall"></a></li>
</ul>
<ul class="books_nav2">
  <li class="b13"><a href="{{base}}/books/thanksgiving"></a></li>
  <li class="b14"><a href="{{base}}/books/eek"></a></li>
  <li class="b15"><a href="{{base}}/books/doppet"></a></li>
  <li class="b16"><a href="{{base}}/books/monkeys"></a></li>
  <li class="b17"><a href="{{base}}/books/jamboree"></a></li>
  <li class="b18"><a href="{{base}}/books/sing"></a></li>
  <li class="b19"><a href="{{base}}/books/beautiful"></a></li>
  <li class="b20"><a href="{{base}}/books/noah"></a></li>
  <li class="b21"><a href="{{base}}/books/jonah"></a></li>
  <li class="b22"><a href="{{base}}/books/sheep"></a></li>
  <li class="b23"><a href="{{base}}/books/zacchaeus"></a></li>
</ul>

<div id="books">
  <div id="book_cover"><img src="{{base}}/img/cover_{{page.short}}.jpg" alt="{{page.title}}" />
    <p class="description">
      {{page.publisher}}
      {% for book in page.isbn %}
        <br />
        {% if book.type == "Kindle ebook edition" %} {{book.type}} {% elsif book.type == "audio CD version" %} {{book.type}} {% else %} ISBN {{book.number}} ({{book.type}}) {% endif %}
      {% endfor %}
    </p>
    {% if page.buy == false %} {% else %} <div id="buynow"><a class="buy buy-info" href="{{page.buy}}" target="_blank">Buy now</a></div> <div id="outofprint">Some books are out of print but available through the author.  Please inquire.</div> {% endif %}
  </div>
  <div id="book_title">{{page.title}}</div>
  <div id="book_info"><p class="description">
    {% if page.illustrator == false %} {% else %} Illustrated by {{page.illustrator}}<br /> {% endif %}
    {{content}}
</div>