---
layout: default
---
{% assign base = site.baseurl %}
<div id="forthcoming">
<span class="forth">Forthcoming Titles...</span><br />
      <a href="{{base}}/books/pirates">No Pirates Allowed! Said Library Lou</a>
	  <a href="{{base}}/books/kitten">Only God Can Make a Kitten</a>
	  <a href="{{base}}/books/walker">3 new picture books</a>
      <a href="{{base}}/books/reillus">Re-illustrated books</a>
</div>
<ul class="books_nav">
  <li class="b1"><a href="{{base}}/books/shape"></a></li>
  <li class="b2"><a href="{{base}}/books/thanksgiving"></a></li>
  <li class="b3"><a href="{{base}}/books/teacher"></a></li>
  <li class="b4"><a href="{{base}}/books/santa"></a></li>
  <li class="b5"><a href="{{base}}/books/barnyard"></a></li>
  <li class="b6"><a href="{{base}}/books/stable"></a></li>
  <li class="b7"><a href="{{base}}/books/mommy"></a></li>
  <li class="b8"><a href="{{base}}/books/daddy"></a></li>
  <li class="b9"><a href="{{base}}/books/beautiful"></a></li>
  <li class="b10"><a href="{{base}}/books/firebears"></a></li>
  <li class="b11"><a href="{{base}}/books/polar"></a></li>
  <li class="b12"><a href="{{base}}/books/standtall"></a></li>
</ul>
<ul class="books_nav">
  <li class="b13"><a href="{{base}}/books/grandma"></a></li>
  <li class="b14"><a href="{{base}}/books/eek"></a></li>
  <li class="b15"><a href="{{base}}/books/doppet"></a></li>
  <li class="b16"><a href="{{base}}/books/monkeys"></a></li>
  <li class="b17"><a href="{{base}}/books/jamboree"></a></li>
  <li class="b18"><a href="{{base}}/books/sing"></a></li>
  <li class="b19"><a href="{{base}}/books/noah"></a></li>
  <li class="b20"><a href="{{base}}/books/jonah"></a></li>
  <li class="b21"><a href="{{base}}/books/sheep"></a></li>
  <li class="b22"><a href="{{base}}/books/zacchaeus"></a></li>
</ul>

<div id="books">
  <div id="book_cover"><img src="{{base}}/img/cover_{{page.short}}.jpg" alt="{{page.title}}" />
    <p class="description">
      {{page.publisher}}
      {% for book in page.isbn %}
        <br />
        ISBN {{book.number}} ({{book.type}}){% if book.inprint == 'false' %} <span class="outofprint">out of print</span> **is available through the author{% endif %}
      {% endfor %}
    </p>
    <div id="buynow"><a class="buy buy-info" href="/test">Buy now</a></div>
	<div id="amazon"><a href=				"http://www.amazon.com/gp/redirect.html?ie=UTF8&location=http%3A%2F%2Fwww.amazon.com%2FWhen-Line-Bends-Shape-Begins%2Fdp%2F0618152415%3Fie%3DUTF8%26s%3Dbooks%26qid%3D1207817914%26sr%3D8-21&tag=rhondgowlegre-20&linkCode=ur2&camp=1789&creative=9325" target="_blank"><img src="{{base}}/img/buy_amazon.gif" width="88" height="25" border="0"></a></div>
  </div>
  <div id="book_title">{{page.title}}</div>
  <div id="book_info"><p class="description">
    Illustrated by {{page.illustrator}}<br />
    {{content}}
</div>