---
layout: default
---
{% assign base = site.baseurl %}
<ul class="books_nav">
	<li class="b1"><a href="{{base}}/books/shape"></a></li>
  <li class="b2"><a href="books.php?t=thanksgiving"></a></li>
  <li class="b3"><a href="books.php?t=teacher"></a></li>
  <li class="b4"><a href="books.php?t=santa"></a></li>
  <li class="b5"><a href="{{base}}/books/barnyard"></a></li>
  <li class="b6"><a href="books.php?t=stable"></a></li>
  <li class="b7"><a href="books.php?t=mommy"></a></li>
  <li class="b8"><a href="books.php?t=daddy"></a></li>
  <li class="b9"><a href="books.php?t=beautiful"></a></li>
  <li class="b10"><a href="books.php?t=firebears"></a></li>
  <li class="b11"><a href="books.php?t=polar"></a></li>
  <li class="b12"><a href="books.php?t=standtall"></a></li>
</ul>
<ul class="books_nav">
	<li class="b13"><a href="books.php?t=grandma"></a></li>
  <li class="b14"><a href="books.php?t=eek"></a></li>
  <li class="b15"><a href="books.php?t=doppet"></a></li>
  <li class="b16"><a href="books.php?t=monkeys"></a></li>
  <li class="b17"><a href="books.php?t=jamboree"></a></li>
  <li class="b18"><a href="books.php?t=sing"></a></li>
  <li class="b19"><a href="books.php?t=noah"></a></li>
  <li class="b20"><a href="books.php?t=jonah"></a></li>
  <li class="b21"><a href="books.php?t=sheep"></a></li>
  <li class="b22"><a href="books.php?t=zacchaeus"></a></li>
</ul>

<div id="books">
  <div id="book_cover"><img src="{{base}}/img/cover_{{page.short}}.jpg" alt="{{page.title}}" />
    <p class="description">
      {{page.publisher}}
      {% for book in page.isbn %}
        <br />
        ISBN {{book.number}} ({{book.type}}){% if book.inprint == 'false' %} <span class="outofprint">out of print</span> **is available through the author{% endif %}
      {% endfor %}
    </p>
  </div>
  <div id="book_title">{{page.title}}</div>
  <div id="book_info"><p class="description">
    Illustrated by {{page.illustrator}}<br />
    {{content}}
</div>