---
---
{% assign base = site.baseurl %}
<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Milonga' rel='stylesheet' type='text/css'>
  <meta charset=utf-8 />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% if page.category == "books" %} <title>{{site.main_title}} - Books</title> {% elsif page.category == "forthcoming" %} <title>{{site.main_title}} - Forthcoming Titles</title> {% elsif page.category == "bio" %} <title>{{site.main_title}} - Bio</title> {% elsif page.category == "visits" %} <title>{{site.main_title}} - Visits</title> {% elsif page.category == "writers" %} <title>{{site.main_title}} - For Writers</title> {% elsif page.category == "contact" %} <title>{{site.main_title}} - Contact</title>
  {% else %} <title>{{site.main_title}} - Children's Book Author</title> {% endif %}
  <meta name="keywords" content="Rhonda Gowler Greene children's authors author writers writer book Michigan Literature Barnyard Song Shape Stable school visits thanksgiving santa polar bear pirates monkey sheep bible stories noah jonah zacchaeus firefighters grandma jungle christmas jesus teaching daddy mommy">
  <meta name="description" content="The Official Page of award-winning children's author Rhonda Gowler Greene. Provides biographical and school visit information, teaching ideas, book reviews, publishing tips, and more...">
  <link rel="shortcut icon" type="image/x-icon" href="{{base}}/favicon.ico" />
  <link href="{{base}}/css/style.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript">$(document).ready(function() {
    $('.buy').click(function() {        
      type = $(this).attr('data-type');  
        $('.overlay-container').fadeIn(function() {  
          window.setTimeout(function(){  
          $('.window-container.'+type).addClass('window-container-visible');  
          }, 0);  
        });  
    });  
    $('.close').click(function() {  
      $('.overlay-container').fadeOut().end().find('.window-container').removeClass('window-container-visible');  
    });
	$('.overlay-container').click(function(){
      $('.overlay-container').fadeOut().end().find('.window-container').removeClass('window-container-visible');  
	})                                            
	$('.window-container').click(function(e){
      e.stopPropagation();
	})
  });
  </script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37770839-1']);
    _gaq.push(['_setDomainName', 'rhondagowlergreene.com']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  
  <script type='text/javascript' src='{{base}}/js/jquery.js?ver=1.8.3'></script>
  <script type="text/javascript" src="{{base}}/js/superfish.js"></script>
  <script type="text/javascript" src="{{base}}/js/hoverIntent.js"></script>
  <script type="text/javascript" src="{{base}}/js/jquery.anythingslider.js"></script>
  <script type="text/javascript" src="{{base}}/js/jquery.anythingslider.video.js"></script>
  <script type="text/javascript" src="{{base}}/js/jquery.imgFade.js"></script>
  
  <script type="text/javascript"> 
	var $j = jQuery.noConflict();
    $j(document).ready(function() { 
        $j('.menu').superfish(); 
    }); 
  </script>

  <script type="text/javascript">
	var $j = jQuery.noConflict();
	$j(function(){
		$j('#slider1').anythingSlider({
			width           : 706,
			height          : 500,
			delay           : 4000,
			resumeDelay     : 10000,
			startStopped    : false,
			autoPlay        : true,
			autoPlayLocked  : false,
			easing          : "swing",
			onSlideComplete : function(slider){
				// alert('Welcome to Slide #' + slider.currentPage);
			}
		});
	});
  </script>

  <script type="text/javascript"> 
	var $j = jQuery.noConflict();
	$j(document).ready(function () {
		$j('#homeslider iframe').each(function() {
			var url = $j(this).attr("src")
			$j(this).attr("src",url+"&amp;wmode=Opaque")
		});
	});
  </script>

  <script type="text/javascript">
	var $j = jQuery.noConflict();
	$j(function() {
		$j().imgFade();
	});
  </script>
</head>

<body>
<div class="whitebg">
  <div class="limiter">
    <div id="rgg_header"><a href="{{base}}/">Rhonda Gowler Greene</a></div>
    <div id="sub_header"><a href="{{base}}/">children's book author & speaker</a></div>
  	<ul id="nav">
      {% if page.category == "books" %} <li class="books_tab"><a class="topmenu" onClick="return true">books</a>
      			<ul class="books">
                	<li class="submenu"><a href="{{base}}/books/pirates">books</a></li>
                    <li class="submenu"><a href="{{base}}/forthcoming/kitten">forthcoming titles</a></li>
                </ul>
      		</li> 
            {% elsif page.category == "forthcoming" %} <li class="books_tab"><a class="topmenu" onClick="return true">books</a>
      			<ul class="books">
                	<li class="submenu"><a href="{{base}}/books/pirates">books</a></li>
                    <li class="submenu"><a href="{{base}}/forthcoming/kitten">forthcoming titles</a></li>
                </ul>
      		</li>
      		{% else %} <li class="books"><a class="topmenu" onClick="return true">books</a>
            	<ul class="books">
                	<li class="submenu"><a href="{{base}}/books/pirates">books</a></li>
                    <li class="submenu"><a href="{{base}}/forthcoming/kitten">forthcoming titles</a></li>
                </ul>
            </li> {% endif %}
      {% if page.category == "bio" %} <li class="bio_tab"><a href="{{base}}/bio/bio">bio</a></li> {% else %} <li class="bio"><a href="{{base}}/bio/bio">bio</a></li> {% endif %}
      {% if page.category == "visits" %} <li class="visits_tab"><a class="topmenu" onClick="return true">visits</a>
      			<ul class="visits">
                	<li class="submenu"><a href="{{base}}/visits/school">school visits</a></li>
                    <li class="submenu"><a href="{{base}}/visits/other">other presentations</a></li>
                </ul>
      		</li>
      		{% else %} <li class="visits"><a class="topmenu" onClick="return true">visits</a>
      			<ul class="visits">
                	<li class="submenu"><a href="{{base}}/visits/school">school visits</a></li>
                    <li class="submenu"><a href="{{base}}/visits/other">other presentations</a></li>
                </ul>
      		</li> {% endif %}
	  {% if page.category == "writers" %} <li class="writers_tab"><a href="{{base}}/writers/writers">for writers</a></li> {% else %} <li class="writers"><a href="{{base}}/writers/writers">for writers</a></li> {% endif %}
      {% if page.category == "contact" %} <li class="contact_tab"><a href="{{base}}/contact/contact">contact</a></li> {% else %} <li class="contact"><a href="{{base}}/contact/contact">contact</a></li> {% endif %}
  	</ul>
  
  	<div id="content">
    	{{content}}
  	</div>
  
    <div id="contact">
      <a href="mailto:rgowgreene@gmail.com" title="Email Me">rgowgreene@gmail.com</a>
      <a href="http://facebook.com/rhondagowlergreene" title="Rhonda's Facebook" target="_blank"><img src="{{base}}/img/f_logo.png" alt="Rhonda's Facebook" /></a>
      <a href="http://twitter.com/rgowgreene" title="Rhonda's Twitter" target="_blank"><img src="{{base}}/img/t_logo.png" alt="Rhonda's Twitter" /></a>
      <div id="site_design">all rights reserved. site content copyright © 2013 Rhonda Gowler Greene. Site Design <a href="http://bradgreene.com" target="_blank">Brad Greene</a></div>
    </div>
  </div>
</div>
  
</body>
</html>
