---
---
{% assign base = site.baseurl %}
<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Rhonda Gowler Greene - Children's Book Author</title>
  <meta name="keywords" content="Rhonda Gowler Greene children's authors author writers writer book Michigan Literature Barnyard Song Shape Stable school visits thanksgiving santa polar bear pirates monkey sheep bible stories noah jonah zacchaeus firefighters grandma jungle christmas jesus teaching daddy mommy">
  <meta name="description" content="The Official Page of award-winning children's author Rhonda Gowler Greene. Provides biographical and school visit information, teaching ideas, book reviews, publishing tips, and more...">
  <link rel="shortcut icon" href="{{base}}/img/favicon.ico" />
  <link href="{{base}}/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="limiter">
    <div id="header"><a href="{{base}}/"><img src="{{base}}/img/header.jpg" /></a></div>
  	<div id="nav">
      <a href="{{base}}/books/barnyard">books</a>
			<a href="{{base}}/bio">bio</a>
      <a href="{{base}}/visits">visits</a>
			<a href="{{base}}/writers">for writers</a>
      <a href="{{base}}/contact">contact</a>
  	</div>
  
  	<div id="content">
    	{{content}}
  	</div>
  
    <div id="contact">
      <a href="mailto:rgowgreene@gmail.com" title="Email Me">rgowgreene@gmail.com</a>
      <a href="http://facebook.com/rhondagowlergreene" title="Rhonda's Facebook" target="_blank"><img src="{{base}}/img/f_logo.png" alt="Rhonda's Facebook" /></a>
    </div>
  </div>
  
</body>
</html>